section {
    border:3px solid black;
    box-shadow: 2px;
    padding:3px;
    display:flex;
    }

.title {
    text-align: center;
    font-size: 2em;
} 
.form { 
    display: flex;
}
.label {

}
.input {

}