form {
    background-color: #162161;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 15px 15px 15px 15px;
    color: white;
    height: auto;
}
.formulaire {
    padding: 25px 20px;
    margin-top: 7em;
    font-size: 20px;
    height: auto;
}
.info-perso {
    margin-top: 40px;
}
.tete-formulaire img {
    width: 170px;form {
        background-color: #404040;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin: 15px 15px 15px 15px;
        color: white;
        height: auto;
    }
    .formulaire {
        padding: 25px 20px;
        margin-top: 25px;
        font-size: 20px;
        height: auto;
    }
    .info-perso {
        margin-top: 40px;
    }
    .tete-formulaire img {
        width: 170px;
        
    }
    .tete-formulaire {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .tete-formulaire h1 {
        font-size: 25px;
        font-weight: bold;
        display: flex;
        margin-top: 10px;
    }
    .tete-formulaire h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        margin-top: 13px;
        text-align: center;
    }
    .identite {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        width: 100%;
    }
    .boite-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .boite-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .label-style {
      margin-top: 10px;
      width: 45%;
    }
    .mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    .pied-formulaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }
    .pied-formulaire .message {
      display: flex;
      flex-direction: column;
    }
    .bouton {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    button {
        background-color:#837cb9;
        border: none;
        border-radius: 8px;
        padding: 7px 25px;
        color: white;
        font-weight: bold;
    }
    label {
        font-size: 17px;
    }
    input {
        border-radius: 8px ;
        border: none;
        height: 30px;
    }
    .boite-2 input{
      width: 45%;
    }
    textarea {
        border-radius: 8px;
        height: 100px;
        padding: 10px 10px;
        resize: none;
    }
    align-items: center;
}
.tete-formulaire h1 {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
}
.tete-formulaire h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 13px;
    text-align: center;
}
.identite {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}
.boite-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.boite-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.label-style {
  margin-top: 10px;
  width: 45%;
}
.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.pied-formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.pied-formulaire .message {
  display: flex;
  flex-direction: column;
}
.bouton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button {
    background-color: #F76C6C;
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
    color: white;
    font-weight: bold;
}
label {
    font-size: 17px;
}
input {
    border-radius: 8px ;
    border: none;
    height: 30px;
}
.boite-2 input{
  width: 45%;
}
textarea {
    border-radius: 8px;
    height: 100px;
    padding: 10px 10px;
    resize: none;
}
